html,
body {
  padding: 0;
  margin: 0;
  font-family: Calibri;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 32px;
  font-weight: bold;
}

label,
input {
  &:hover {
    cursor: pointer;
  }
}

* {
  box-sizing: border-box;
}

.draggable:nth-of-type(2n) {
  position: relative;
  top: 50px;
}

@media (max-width: 800px) {
  p {
    font-size: 16px;
  }
}
